{% extends 'blog/base.html' %} <!-- наследуем базовый шаблон -->
{% block content %} <!-- определяем блок для содержимого -->
  <!-- <h1>Объявления</h1> -->
  <!-- <ul>  -->
{% for update in updates %} <!-- цикл по всем постам с обновлениями -->
  

  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">{{ update.date|date:"d.m.Y H:i" }}</small>
      </div>
      <h2 lass="article-title">{{ update.title }}</h2>
      <p class="article-content">{{ update.content }}</p>
    </div>
  </article>
{% endfor %}
<!-- </ul> -->
{% endblock %}