{% extends 'blog/base.html' %} <!-- наследуем базовый шаблон -->
{% block content %} <!-- определяем блок для содержимого -->
<h1>Профиль пользователя {{ user.username }}</h1> <!-- заголовок страницы с ником пользователя -->
<ul> <!-- список постов пользователя -->
{% for post in posts %} <!-- цикл по всем постам пользователя -->
<li> <!-- элемент списка -->
<h2>{{ post.title }}</h2> <!-- заголовок поста -->
<p>{{ post.date|date:"d.m.Y H:i" }}</p> <!-- дата и время поста -->
<p>{{ post.content }}</p> <!-- текст поста -->
</li>
{% endfor %}
</ul>
{% endblock %}