html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color:#2d2d31;
}

a{
    align-items: center;
}
.container{
    align-items: center;
	justify-content: center;
}

.login{
    width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.login_input{
    border: none;
    border-bottom: 2px solid #533f5e;
	background: none;
    font-size: 14px;
    margin-top: 30px;
}

.login_submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
    text-transform: uppercase;
	border: 1px solid #D4D3E8;
	font-weight: 700;
	align-items: center;
	width: 100%;
	cursor: pointer;
}

form{
    height: 520px;
    width: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px;
    padding: 50px 35px;
    background: #C7C5F4;
}

.log_img{
    padding-top: 30px;
    padding-left: 20px;
}

.login_input:hover {
	outline: none;
}

h1{
    color: #D4D3E8;
    padding: 30px;
}

.todo{
    background-color:#2d2d31;
}